@font-face {
  font-family: BreakingBad;
  src: url(font.otf);
}

.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: black;
  color: white;
}

#smoke {
  height: 300px;
}

.App-title {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  font-family: BreakingBad;
  font-size: 4em;
}

nav {
  margin: 10px 0;
}

.link {
  display: inline-block;
}

.link,
.link span {
  color: #3fb573;
}

.is-active {
  background: #3fb573;
}

.is-active span {
  color: white;
}

.is-active span:after {
  content: '';
  width: 1em;
  height: 0;
  border-top: .5em solid #3fb573;
  border-right: .5em solid transparent;
  border-left: .5em solid transparent;
  margin-left: -0.5em;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  box-sizing: border-box;
}

.MuiButton-raisedPrimary-10 {
  background-color: #3fb573 !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding-bottom: 50px;
  margin: auto;
  text-align: left;
}

.input-wrapper {
  width: 100%;
  margin: 10px 0;
}

input {
  display: block;
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 20px;
  margin: 10px 0;
  outline: 0;
}

.check-labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 2px;
  border-radius: 10px;
}

.check-labels .active {
  color: white;
  background-color: #3fb573;
  text-transform: uppercase;
  font-weight: bold;
}

.check-labels .inactive {
  color: white;
  background-color: #f81111;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.add-button {
  margin: auto;
  display: block !important;
}

.good-suff {
  position: relative;
  padding-top: 10px;
}

.remove-button {
  position: absolute !important;
  width: 20px !important;
  height: 20px !important;
  min-height: 20px !important;
  right: 0;
}
